# **ExtraLong 2021:** QC - Removing Extra Sessions
__Project:__    ExtraLong <br>
__Maintainer:__ Katja Zoner <br>
__Updated:__    12/07/2021 <br>

This notebook is for looking at age spans between sessions within each subject. 
The goal is to reduce the session counts for subjects who have many sessions within a small time frame.

In [437]:
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

In [438]:
# Read in csv of exclusion status and demographics info
df = pd.read_csv("csv/demographics+exclusion_datafreeze-2021_cutoff-212.csv")
df

,subid,sesid,acq,doscan,timepoint,ntimepoints,scanage_months,scanage_years,sex,race,ethnic,scanner,euler,exclude
0,11399,3468,DAY,2010-06-29,1,2,414.0,34.500,2.0,2.0,2.0,TrioTim,-86,False
1,11399,3592,DAY,2010-07-29,2,2,415.0,34.583,2.0,2.0,2.0,TrioTim,-174,False
2,11801,5145,DAY,2011-06-06,1,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-58,False
3,11801,5200,FNDM,2011-06-10,2,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-66,False
4,11801,8591,NEFF,2013-10-23,3,3,399.0,33.250,1.0,1.0,2.0,TrioTim,-56,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2448,139272,10109,GRMPY,2016-04-07,6,6,259.0,21.583,2.0,2.0,2.0,Prisma,-48,False
2449,139490,8461,PNC,2013-08-30,1,2,105.0,8.750,1.0,2.0,2.0,TrioTim,-730,True
2450,139490,10564,CONTE,2017-04-29,2,2,149.0,12.417,1.0,2.0,2.0,TrioTim,-202,True
2451,139553,8410,PNC,2013-08-23,1,2,107.0,8.917,2.0,2.0,2.0,TrioTim,-114,False
2452,139553,9822,PNC,2015-09-12,2,2,132.0,11.000,2.0,2.0,2.0,TrioTim,-86,False

In [439]:
def filterBySessionCount(df, thresh):

    # Get scan counts for each subject (bblid).
    bblid_counts = df.groupby(["subid"]).size().reset_index()
    bblid_counts.columns = ["subid", "scan_count"]
    bblid_counts.sort_values("scan_count")

    # Get list of bblids that should be included
    include_bblids = bblid_counts.subid[bblid_counts["scan_count"]>=thresh]

    # Filter dataframe to only include subjects that meet session requirements
    df = df[df["subid"].isin(include_bblids)].copy()

    # Update ntimepoints column to indicate number of sessions in ExtraLong 2021 for each subject.
    for subid in df.subid.unique():

        # Get subject's number of timepoints in ExtraLong 2021
        num_tps = bblid_counts[bblid_counts.subid == subid].scan_count.item()

        # Update ntimeponts in ExtraLong dataframe
        df.loc[df.subid==subid, 'ntimepoints'] = num_tps

    # Update timepoint column to indicate timepoint number for each subject
    df["timepoint"] = df.groupby("subid").cumcount()+1

    return df.sort_values(["subid","doscan"])

In [440]:
# Get df of all sessions that should be included
df = df[df.exclude == False]

# Re-do timepoint counts
df = filterBySessionCount(df,2)

# Convert doscan to datetime type
df.doscan = pd.to_datetime(df.doscan)

df

,subid,sesid,acq,doscan,timepoint,ntimepoints,scanage_months,scanage_years,sex,race,ethnic,scanner,euler,exclude
0,11399,3468,DAY,2010-06-29,1,2,414.0,34.500,2.0,2.0,2.0,TrioTim,-86,False
1,11399,3592,DAY,2010-07-29,2,2,415.0,34.583,2.0,2.0,2.0,TrioTim,-174,False
2,11801,5145,DAY,2011-06-06,1,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-58,False
3,11801,5200,FNDM,2011-06-10,2,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-66,False
4,11801,8591,NEFF,2013-10-23,3,3,399.0,33.250,1.0,1.0,2.0,TrioTim,-56,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2446,139272,8929,ONM,2014-06-16,4,6,237.0,19.750,2.0,2.0,2.0,TrioTim,-30,False
2447,139272,10040,PNC,2016-01-20,5,6,256.0,21.333,2.0,2.0,2.0,TrioTim,-44,False
2448,139272,10109,GRMPY,2016-04-07,6,6,259.0,21.583,2.0,2.0,2.0,Prisma,-48,False
2451,139553,8410,PNC,2013-08-23,1,2,107.0,8.917,2.0,2.0,2.0,TrioTim,-114,False
2452,139553,9822,PNC,2015-09-12,2,2,132.0,11.000,2.0,2.0,2.0,TrioTim,-86,False

In [421]:
# Value counts for ntimepoints for all subjects
df[df.timepoint == 1].ntimepoints.value_counts()

2     383
3     203
4      89
5      48
6      26
7      16
8      10
10      2
11      1
Name: ntimepoints, dtype: int64

In [412]:
# Try with 180 day threshold for minimum elapsed days since previous scan
TIME_THRESH = pd.Timedelta(days=180)
TIME_THRESH

Timedelta('180 days 00:00:00')

In [441]:
# Add column for time difference between scans
df = df.sort_values(['subid', 'doscan'])
df['delta_time'] = df.groupby(['subid'])['doscan'].transform(lambda x: x.diff()) 
df.sort_index()

,subid,sesid,acq,doscan,timepoint,ntimepoints,scanage_months,scanage_years,sex,race,ethnic,scanner,euler,exclude,delta_time
0,11399,3468,DAY,2010-06-29,1,2,414.0,34.500,2.0,2.0,2.0,TrioTim,-86,False,NaT
1,11399,3592,DAY,2010-07-29,2,2,415.0,34.583,2.0,2.0,2.0,TrioTim,-174,False,30 days
2,11801,5145,DAY,2011-06-06,1,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-58,False,NaT
3,11801,5200,FNDM,2011-06-10,2,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-66,False,4 days
4,11801,8591,NEFF,2013-10-23,3,3,399.0,33.250,1.0,1.0,2.0,TrioTim,-56,False,866 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2446,139272,8929,ONM,2014-06-16,4,6,237.0,19.750,2.0,2.0,2.0,TrioTim,-30,False,94 days
2447,139272,10040,PNC,2016-01-20,5,6,256.0,21.333,2.0,2.0,2.0,TrioTim,-44,False,583 days
2448,139272,10109,GRMPY,2016-04-07,6,6,259.0,21.583,2.0,2.0,2.0,Prisma,-48,False,78 days
2451,139553,8410,PNC,2013-08-23,1,2,107.0,8.917,2.0,2.0,2.0,TrioTim,-114,False,NaT
2452,139553,9822,PNC,2015-09-12,2,2,132.0,11.000,2.0,2.0,2.0,TrioTim,-86,False,750 days

In [442]:
# Add column to dataframe indicating the number of following timepoints that occurred within 180 days.

# For each subject...
for sub in df.subid.unique():

    # ...get a df of all sessions...
    sessions = df[df.subid == sub].reset_index(drop=True)

    # For each session, calculate the number of following timepoints that occurred within 180 days.
    for i in range(len(sessions)):
        date = sessions.doscan[i]
        n_within = len(sessions[(date < sessions.doscan) & (sessions.doscan < date + TIME_THRESH)])
        df.loc[(df.subid == sub) & (df.timepoint == i+1), "n_within"] = n_within

df.n_within = df.n_within.astype(int)
df

,subid,sesid,acq,doscan,timepoint,ntimepoints,scanage_months,scanage_years,sex,race,ethnic,scanner,euler,exclude,delta_time,n_within
0,11399,3468,DAY,2010-06-29,1,2,414.0,34.500,2.0,2.0,2.0,TrioTim,-86,False,NaT,1
1,11399,3592,DAY,2010-07-29,2,2,415.0,34.583,2.0,2.0,2.0,TrioTim,-174,False,30 days,0
2,11801,5145,DAY,2011-06-06,1,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-58,False,NaT,1
3,11801,5200,FNDM,2011-06-10,2,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-66,False,4 days,0
4,11801,8591,NEFF,2013-10-23,3,3,399.0,33.250,1.0,1.0,2.0,TrioTim,-56,False,866 days,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2446,139272,8929,ONM,2014-06-16,4,6,237.0,19.750,2.0,2.0,2.0,TrioTim,-30,False,94 days,0
2447,139272,10040,PNC,2016-01-20,5,6,256.0,21.333,2.0,2.0,2.0,TrioTim,-44,False,583 days,1
2448,139272,10109,GRMPY,2016-04-07,6,6,259.0,21.583,2.0,2.0,2.0,Prisma,-48,False,78 days,0
2451,139553,8410,PNC,2013-08-23,1,2,107.0,8.917,2.0,2.0,2.0,TrioTim,-114,False,NaT,0
2452,139553,9822,PNC,2015-09-12,2,2,132.0,11.000,2.0,2.0,2.0,TrioTim,-86,False,750 days,0

## Do the hard work...

In [443]:
# For each subject,
for sub in df.subid.unique():

    # Get df of subject's sessions.
    sessions = df[df.subid == sub].reset_index(drop=True)
    print(f"Subject {sub} started with {len(sessions)} sessions...", end="")

    # If for first scan, n_within is ntimepoints-1, then all timepoints are too close --> exclude subject.
    if sessions.iloc[0].ntimepoints - sessions.iloc[0].n_within == 1:
        print(f"Excluding all sessions from subject {sub}!")
        df.loc[df.subid == sub, "exclude"] = True                   # Indicate to exclude subject
        continue                                                    # Continue to next subject

    # Loop through sessions...
    for i in range(1, len(sessions)+1):

        # Get current session
        ses = df[(df.subid == sub) & (df.timepoint == i)]

        # If we already are excluding this session, just continue
        if ses.exclude.bool():
            continue
        
        # If any number of following sessions are within 180 days of current session, 
        # ... go through following procedure to decide which to keep.
        if ses.n_within.item() != 0:

            # Decision set --> set of sessions in which any one session can be kept without altering the final session count.
            decision_set = pd.DataFrame(ses)

            tp = ses.timepoint.item()
            next_ses = sessions[sessions.timepoint == tp+1]

            # While n_within is decrementing by 1, add following sessions to decision set. Any one session can be kept.
            while next_ses.n_within.item() == ses.n_within.item() - 1:

                decision_set = decision_set.append(next_ses)        # Append new session
                tp+=1                                               # Increment timepoint
                ses = next_ses                                      # Reset ses
                next_ses = sessions[sessions.timepoint == tp+1]     # Reset next_ses

                # If this was the last session, break
                if len(next_ses) == 0:
                    break

            # Now decide which to keep from decision set --> keep session with best (max) Euler!
            keep = decision_set.iloc[decision_set.euler.argmax()]
            # print(f"Keeping tp {keep.timepoint} out of timepoints: {set(decision_set.timepoint)}.")

            # We should exclude all other timepoints from decision set, except for one we decided to keep.
            exclude_tps = set(decision_set.timepoint)
            exclude_tps.remove(keep.timepoint)
            # We should additionally exclude all timepoints within 180 days of the session we decided to keep.
            tps_within = [keep.timepoint + n for n in range(1, keep.n_within + 1)]
            exclude_tps = exclude_tps.union(tps_within)

            # Update exclude column in actual dataframe!
            for tp in exclude_tps:
               df.loc[(df.subid == sub) & (df.timepoint == tp), "exclude"] = True

    print(f"...Subject {sub} now has {len(df[(df.subid == sub) & (df.exclude != True)])} sessions.")

Subject 11399 started with 2 sessions...Excluding all sessions from subject 11399!
Subject 11801 started with 3 sessions......Subject 11801 now has 2 sessions.
Subject 12073 started with 2 sessions......Subject 12073 now has 2 sessions.
Subject 12202 started with 3 sessions......Subject 12202 now has 3 sessions.
Subject 12835 started with 3 sessions...Excluding all sessions from subject 12835!
Subject 12913 started with 2 sessions...Excluding all sessions from subject 12913!
Subject 13190 started with 4 sessions......Subject 13190 now has 3 sessions.
Subject 13473 started with 5 sessions......Subject 13473 now has 3 sessions.
Subject 13550 started with 3 sessions...Excluding all sessions from subject 13550!
Subject 13831 started with 2 sessions......Subject 13831 now has 2 sessions.
Subject 14343 started with 4 sessions......Subject 14343 now has 2 sessions.
Subject 14828 started with 2 sessions......Subject 14828 now has 2 sessions.
Subject 15290 started with 3 sessions......Subject 15290 now has 2 sessions.
Subject 15305 started with 5 sessions......Subject 15305 now has 2 sessions.
Subject 15317 started with 2 sessions...Excluding all sessions from subject 15317!
Subject 15440 started with 2 sessions...Excluding all sessions from subject 15440!
Subject 15546 started with 3 sessions......Subject 15546 now has 2 sessions.
Subject 15598 started with 2 sessions......Subject 15598 now has 2 sessions.
Subject 15701 started with 2 sessions...Excluding all sessions from subject 15701!
Subject 15821 started with 2 sessions...Excluding all sessions from subject 15821!
Subject 15832 started with 3 sessions......Subject 15832 now has 2 sessions.
Subject 15852 started with 3 sessions......Subject 15852 now has 3 sessions.
Subject 15883 started with 2 sessions......Subject 15883 now has 2 sessions.
Subject 15885 started with 2 sessions......Subject 15885 now has 2 sessions.
Subject 15989 started with 2 sessions...Excluding all sessions from subject 15989!
Subject 15993 started with 2 sessions...Excluding all sessions from subject 15993!
Subject 16040 started with 2 sessions...Excluding all sessions from subject 16040!
Subject 16049 started with 3 sessions...Excluding all sessions from subject 16049!
Subject 16076 started with 2 sessions...Excluding all sessions from subject 16076!
Subject 16098 started with 2 sessions...Excluding all sessions from subject 16098!
Subject 16128 started with 3 sessions...Excluding all sessions from subject 16128!
Subject 16349 started with 4 sessions......Subject 16349 now has 3 sessions.
Subject 16422 started with 2 sessions...Excluding all sessions from subject 16422!
Subject 16432 started with 2 sessions...Excluding all sessions from subject 16432!
Subject 16469 started with 2 sessions......Subject 16469 now has 2 sessions.
Subject 16537 started with 2 sessions...Excluding all sessions from subject 16537!
Subject 16564 started with 2 sessions...Excluding all sessions from subject 16564!
Subject 16581 started with 2 sessions...Excluding all sessions from subject 16581!
Subject 16653 started with 2 sessions......Subject 16653 now has 2 sessions.
Subject 16760 started with 2 sessions......Subject 16760 now has 2 sessions.
Subject 16797 started with 2 sessions...Excluding all sessions from subject 16797!
Subject 16863 started with 2 sessions...Excluding all sessions from subject 16863!
Subject 16962 started with 5 sessions......Subject 16962 now has 2 sessions.
Subject 16973 started with 2 sessions...Excluding all sessions from subject 16973!
Subject 16999 started with 2 sessions...Excluding all sessions from subject 16999!
Subject 17041 started with 2 sessions...Excluding all sessions from subject 17041!
Subject 17057 started with 2 sessions...Excluding all sessions from subject 17057!
Subject 17121 started with 2 sessions......Subject 17121 now has 2 sessions.
Subject 17190 started with 2 sessions...Excluding all sessions from subject 17190!
Subject 17256 started with 2 sessions...Excluding all sessions from subject 17256!
Subject 17274 started with 2 sessions...Excluding all sessions from subject 17274!
Subject 17282 started with 2 sessions...Excluding all sessions from subject 17282!
Subject 17379 started with 2 sessions...Excluding all sessions from subject 17379!
Subject 17396 started with 2 sessions...Excluding all sessions from subject 17396!
Subject 17411 started with 2 sessions...Excluding all sessions from subject 17411!
Subject 17415 started with 2 sessions...Excluding all sessions from subject 17415!
Subject 17429 started with 2 sessions...Excluding all sessions from subject 17429!
Subject 17460 started with 2 sessions...Excluding all sessions from subject 17460!
Subject 17491 started with 5 sessions......Subject 17491 now has 4 sessions.
Subject 17519 started with 3 sessions......Subject 17519 now has 2 sessions.
Subject 17523 started with 3 sessions...Excluding all sessions from subject 17523!
Subject 17543 started with 2 sessions...Excluding all sessions from subject 17543!
Subject 17566 started with 2 sessions...Excluding all sessions from subject 17566!
Subject 17573 started with 2 sessions...Excluding all sessions from subject 17573!
Subject 17621 started with 5 sessions......Subject 17621 now has 2 sessions.
Subject 17622 started with 2 sessions...Excluding all sessions from subject 17622!
Subject 17629 started with 2 sessions...Excluding all sessions from subject 17629!
Subject 17634 started with 3 sessions......Subject 17634 now has 2 sessions.
Subject 17648 started with 6 sessions......Subject 17648 now has 3 sessions.
Subject 17649 started with 3 sessions...Excluding all sessions from subject 17649!
Subject 17650 started with 6 sessions......Subject 17650 now has 3 sessions.
Subject 17651 started with 5 sessions......Subject 17651 now has 2 sessions.
Subject 17676 started with 2 sessions......Subject 17676 now has 2 sessions.
Subject 17693 started with 2 sessions......Subject 17693 now has 2 sessions.
Subject 17694 started with 3 sessions......Subject 17694 now has 2 sessions.
Subject 17720 started with 2 sessions......Subject 17720 now has 2 sessions.
Subject 17723 started with 2 sessions...Excluding all sessions from subject 17723!
Subject 17741 started with 3 sessions......Subject 17741 now has 2 sessions.
Subject 17820 started with 3 sessions......Subject 17820 now has 2 sessions.
Subject 17857 started with 3 sessions...Excluding all sessions from subject 17857!
Subject 17878 started with 2 sessions...Excluding all sessions from subject 17878!
Subject 17940 started with 6 sessions......Subject 17940 now has 3 sessions.
Subject 17950 started with 2 sessions...Excluding all sessions from subject 17950!
Subject 17952 started with 2 sessions...Excluding all sessions from subject 17952!
Subject 18077 started with 2 sessions...Excluding all sessions from subject 18077!
Subject 18093 started with 6 sessions......Subject 18093 now has 3 sessions.
Subject 18121 started with 4 sessions......Subject 18121 now has 2 sessions.
Subject 18167 started with 4 sessions......Subject 18167 now has 2 sessions.
Subject 18183 started with 2 sessions...Excluding all sessions from subject 18183!
Subject 18212 started with 2 sessions...Excluding all sessions from subject 18212!
Subject 18312 started with 2 sessions...Excluding all sessions from subject 18312!
Subject 18379 started with 2 sessions...Excluding all sessions from subject 18379!
Subject 18416 started with 2 sessions......Subject 18416 now has 2 sessions.
Subject 19488 started with 2 sessions...Excluding all sessions from subject 19488!
Subject 19494 started with 2 sessions...Excluding all sessions from subject 19494!
Subject 19542 started with 2 sessions...Excluding all sessions from subject 19542!
Subject 19607 started with 2 sessions...Excluding all sessions from subject 19607!
Subject 19615 started with 2 sessions...Excluding all sessions from subject 19615!
Subject 19800 started with 2 sessions...Excluding all sessions from subject 19800!
Subject 20011 started with 2 sessions......Subject 20011 now has 2 sessions.
Subject 20082 started with 2 sessions......Subject 20082 now has 2 sessions.
Subject 20120 started with 2 sessions...Excluding all sessions from subject 20120!
Subject 20160 started with 3 sessions......Subject 20160 now has 2 sessions.
Subject 20182 started with 2 sessions......Subject 20182 now has 2 sessions.
Subject 20197 started with 3 sessions......Subject 20197 now has 2 sessions.
Subject 20325 started with 3 sessions......Subject 20325 now has 2 sessions.
Subject 20699 started with 2 sessions......Subject 20699 now has 2 sessions.
Subject 20786 started with 2 sessions...Excluding all sessions from subject 20786!
Subject 20792 started with 2 sessions......Subject 20792 now has 2 sessions.
Subject 80010 started with 2 sessions......Subject 80010 now has 2 sessions.
Subject 80263 started with 3 sessions......Subject 80263 now has 2 sessions.
Subject 80289 started with 4 sessions......Subject 80289 now has 3 sessions.
Subject 80537 started with 3 sessions......Subject 80537 now has 2 sessions.
Subject 80557 started with 6 sessions......Subject 80557 now has 5 sessions.
Subject 80688 started with 3 sessions......Subject 80688 now has 3 sessions.
Subject 80812 started with 2 sessions......Subject 80812 now has 2 sessions.
Subject 80854 started with 2 sessions......Subject 80854 now has 2 sessions.
Subject 81043 started with 2 sessions......Subject 81043 now has 2 sessions.
Subject 81222 started with 4 sessions......Subject 81222 now has 3 sessions.
Subject 81323 started with 3 sessions......Subject 81323 now has 3 sessions.
Subject 81353 started with 2 sessions......Subject 81353 now has 2 sessions.
Subject 81462 started with 4 sessions......Subject 81462 now has 3 sessions.
Subject 81533 started with 2 sessions......Subject 81533 now has 2 sessions.
Subject 81659 started with 4 sessions......Subject 81659 now has 3 sessions.
Subject 81725 started with 4 sessions......Subject 81725 now has 2 sessions.
Subject 81760 started with 3 sessions......Subject 81760 now has 3 sessions.
Subject 81865 started with 2 sessions......Subject 81865 now has 2 sessions.
Subject 81876 started with 2 sessions......Subject 81876 now has 2 sessions.
Subject 81903 started with 2 sessions......Subject 81903 now has 2 sessions.
Subject 81939 started with 3 sessions......Subject 81939 now has 3 sessions.
Subject 81982 started with 2 sessions......Subject 81982 now has 2 sessions.
Subject 81992 started with 2 sessions......Subject 81992 now has 2 sessions.
Subject 82039 started with 4 sessions......Subject 82039 now has 3 sessions.
Subject 82051 started with 7 sessions......Subject 82051 now has 4 sessions.
Subject 82063 started with 5 sessions......Subject 82063 now has 4 sessions.
Subject 82066 started with 3 sessions......Subject 82066 now has 3 sessions.
Subject 82096 started with 2 sessions......Subject 82096 now has 2 sessions.
Subject 82124 started with 2 sessions......Subject 82124 now has 2 sessions.
Subject 82293 started with 2 sessions......Subject 82293 now has 2 sessions.
Subject 82311 started with 2 sessions......Subject 82311 now has 2 sessions.
Subject 82359 started with 2 sessions......Subject 82359 now has 2 sessions.
Subject 82458 started with 2 sessions......Subject 82458 now has 2 sessions.
Subject 82467 started with 2 sessions......Subject 82467 now has 2 sessions.
Subject 82492 started with 3 sessions......Subject 82492 now has 2 sessions.
Subject 82790 started with 3 sessions......Subject 82790 now has 2 sessions.
Subject 82877 started with 2 sessions......Subject 82877 now has 2 sessions.
Subject 82907 started with 2 sessions......Subject 82907 now has 2 sessions.
Subject 82914 started with 2 sessions......Subject 82914 now has 2 sessions.
Subject 82962 started with 2 sessions......Subject 82962 now has 2 sessions.
Subject 83010 started with 5 sessions......Subject 83010 now has 4 sessions.
Subject 83253 started with 2 sessions......Subject 83253 now has 2 sessions.
Subject 83328 started with 2 sessions......Subject 83328 now has 2 sessions.
Subject 83339 started with 2 sessions......Subject 83339 now has 2 sessions.
Subject 83358 started with 2 sessions......Subject 83358 now has 2 sessions.
Subject 83372 started with 3 sessions......Subject 83372 now has 3 sessions.
Subject 83423 started with 2 sessions......Subject 83423 now has 2 sessions.
Subject 83454 started with 5 sessions......Subject 83454 now has 4 sessions.
Subject 83835 started with 10 sessions......Subject 83835 now has 6 sessions.
Subject 83987 started with 3 sessions......Subject 83987 now has 3 sessions.
Subject 83999 started with 3 sessions......Subject 83999 now has 2 sessions.
Subject 84096 started with 2 sessions......Subject 84096 now has 2 sessions.
Subject 84103 started with 4 sessions......Subject 84103 now has 4 sessions.
Subject 84136 started with 2 sessions......Subject 84136 now has 2 sessions.
Subject 84203 started with 2 sessions......Subject 84203 now has 2 sessions.
Subject 84258 started with 2 sessions......Subject 84258 now has 2 sessions.
Subject 84332 started with 5 sessions......Subject 84332 now has 4 sessions.
Subject 84354 started with 5 sessions......Subject 84354 now has 4 sessions.
Subject 84385 started with 2 sessions......Subject 84385 now has 2 sessions.
Subject 84394 started with 2 sessions......Subject 84394 now has 2 sessions.
Subject 84688 started with 4 sessions......Subject 84688 now has 4 sessions.
Subject 84761 started with 3 sessions......Subject 84761 now has 2 sessions.
Subject 84970 started with 2 sessions......Subject 84970 now has 2 sessions.
Subject 84973 started with 4 sessions......Subject 84973 now has 3 sessions.
Subject 85005 started with 3 sessions......Subject 85005 now has 2 sessions.
Subject 85063 started with 3 sessions......Subject 85063 now has 3 sessions.
Subject 85083 started with 4 sessions......Subject 85083 now has 4 sessions.
Subject 85173 started with 3 sessions......Subject 85173 now has 2 sessions.
Subject 85369 started with 7 sessions......Subject 85369 now has 4 sessions.
Subject 85392 started with 2 sessions......Subject 85392 now has 2 sessions.
Subject 85397 started with 2 sessions......Subject 85397 now has 2 sessions.
Subject 85400 started with 4 sessions......Subject 85400 now has 3 sessions.
Subject 85412 started with 3 sessions......Subject 85412 now has 3 sessions.
Subject 85579 started with 2 sessions......Subject 85579 now has 2 sessions.
Subject 85632 started with 2 sessions......Subject 85632 now has 2 sessions.
Subject 85679 started with 2 sessions......Subject 85679 now has 2 sessions.
Subject 85712 started with 2 sessions......Subject 85712 now has 2 sessions.
Subject 85715 started with 2 sessions......Subject 85715 now has 2 sessions.
Subject 85743 started with 2 sessions......Subject 85743 now has 2 sessions.
Subject 85853 started with 4 sessions......Subject 85853 now has 3 sessions.
Subject 85876 started with 2 sessions......Subject 85876 now has 2 sessions.
Subject 85960 started with 3 sessions......Subject 85960 now has 2 sessions.
Subject 85980 started with 2 sessions......Subject 85980 now has 2 sessions.
Subject 85983 started with 2 sessions......Subject 85983 now has 2 sessions.
Subject 86061 started with 3 sessions......Subject 86061 now has 2 sessions.
Subject 86126 started with 2 sessions......Subject 86126 now has 2 sessions.
Subject 86252 started with 6 sessions......Subject 86252 now has 6 sessions.
Subject 86287 started with 3 sessions......Subject 86287 now has 2 sessions.
Subject 86303 started with 2 sessions......Subject 86303 now has 2 sessions.
Subject 86350 started with 3 sessions......Subject 86350 now has 3 sessions.
Subject 86444 started with 3 sessions......Subject 86444 now has 2 sessions.
Subject 86486 started with 3 sessions......Subject 86486 now has 3 sessions.
Subject 86626 started with 3 sessions......Subject 86626 now has 3 sessions.
Subject 86722 started with 3 sessions......Subject 86722 now has 3 sessions.
Subject 86820 started with 2 sessions......Subject 86820 now has 2 sessions.
Subject 86902 started with 2 sessions......Subject 86902 now has 2 sessions.
Subject 86921 started with 2 sessions......Subject 86921 now has 2 sessions.
Subject 86924 started with 3 sessions......Subject 86924 now has 2 sessions.
Subject 86946 started with 4 sessions......Subject 86946 now has 3 sessions.
Subject 86972 started with 2 sessions......Subject 86972 now has 2 sessions.
Subject 87045 started with 2 sessions......Subject 87045 now has 2 sessions.
Subject 87048 started with 2 sessions......Subject 87048 now has 2 sessions.
Subject 87135 started with 5 sessions......Subject 87135 now has 5 sessions.
Subject 87144 started with 3 sessions......Subject 87144 now has 3 sessions.
Subject 87163 started with 2 sessions......Subject 87163 now has 2 sessions.
Subject 87166 started with 3 sessions......Subject 87166 now has 3 sessions.
Subject 87189 started with 2 sessions......Subject 87189 now has 2 sessions.
Subject 87277 started with 4 sessions......Subject 87277 now has 3 sessions.
Subject 87300 started with 2 sessions......Subject 87300 now has 2 sessions.
Subject 87346 started with 3 sessions......Subject 87346 now has 3 sessions.
Subject 87445 started with 2 sessions......Subject 87445 now has 2 sessions.
Subject 87457 started with 3 sessions......Subject 87457 now has 2 sessions.
Subject 87538 started with 7 sessions......Subject 87538 now has 6 sessions.
Subject 87563 started with 3 sessions......Subject 87563 now has 2 sessions.
Subject 87601 started with 8 sessions......Subject 87601 now has 6 sessions.
Subject 87646 started with 3 sessions......Subject 87646 now has 3 sessions.
Subject 87679 started with 2 sessions......Subject 87679 now has 2 sessions.
Subject 87804 started with 4 sessions......Subject 87804 now has 4 sessions.
Subject 87842 started with 3 sessions......Subject 87842 now has 3 sessions.
Subject 87878 started with 2 sessions......Subject 87878 now has 2 sessions.
Subject 87905 started with 2 sessions......Subject 87905 now has 2 sessions.
Subject 87990 started with 4 sessions......Subject 87990 now has 4 sessions.
Subject 88075 started with 2 sessions......Subject 88075 now has 2 sessions.
Subject 88181 started with 4 sessions......Subject 88181 now has 3 sessions.
Subject 88190 started with 2 sessions......Subject 88190 now has 2 sessions.
Subject 88209 started with 2 sessions......Subject 88209 now has 2 sessions.
Subject 88229 started with 2 sessions......Subject 88229 now has 2 sessions.
Subject 88241 started with 2 sessions......Subject 88241 now has 2 sessions.
Subject 88296 started with 2 sessions......Subject 88296 now has 2 sessions.
Subject 88402 started with 4 sessions......Subject 88402 now has 4 sessions.
Subject 88425 started with 2 sessions......Subject 88425 now has 2 sessions.
Subject 88428 started with 2 sessions...Excluding all sessions from subject 88428!
Subject 88486 started with 2 sessions......Subject 88486 now has 2 sessions.
Subject 88505 started with 2 sessions......Subject 88505 now has 2 sessions.
Subject 88547 started with 2 sessions......Subject 88547 now has 2 sessions.
Subject 88568 started with 2 sessions......Subject 88568 now has 2 sessions.
Subject 88589 started with 5 sessions......Subject 88589 now has 4 sessions.
Subject 88608 started with 5 sessions......Subject 88608 now has 4 sessions.
Subject 88621 started with 2 sessions......Subject 88621 now has 2 sessions.
Subject 88760 started with 8 sessions......Subject 88760 now has 6 sessions.
Subject 88770 started with 5 sessions......Subject 88770 now has 3 sessions.
Subject 88773 started with 4 sessions......Subject 88773 now has 4 sessions.
Subject 88859 started with 2 sessions......Subject 88859 now has 2 sessions.
Subject 88867 started with 3 sessions......Subject 88867 now has 3 sessions.
Subject 88902 started with 3 sessions......Subject 88902 now has 3 sessions.

In [444]:
# Print summary of results
remaining_subs = len(df[df.exclude==False].subid.unique())
excluded_subs = len(df.subid.unique()) - remaining_subs

print(f"After filtering sessions such that all sessions are 180+ days apart:")
print(f"{len(df[df.exclude == True])} additional sessions are excluded.")
print(f"{len(df[df.exclude == False])} sessions remain.")
print(f"{excluded_subs} additional subjects are excluded.")
print(f"{remaining_subs} subjects remain.")

After filtering sessions such that all sessions are 180+ days apart:
446 additional sessions are excluded.
1904 sessions remain.
84 additional subjects are excluded.
694 subjects remain.

In [445]:
# Remove exclude==True rows from dataframe, remove extra columns.
df = df[df.exclude == False]
del df["n_within"]
del df["delta_time"]
df

,subid,sesid,acq,doscan,timepoint,ntimepoints,scanage_months,scanage_years,sex,race,ethnic,scanner,euler,exclude
2,11801,5145,DAY,2011-06-06,1,3,370.0,30.833,1.0,1.0,2.0,TrioTim,-58,False
4,11801,8591,NEFF,2013-10-23,3,3,399.0,33.250,1.0,1.0,2.0,TrioTim,-56,False
5,12073,5906,FNDM,2011-10-21,1,2,396.0,33.000,1.0,1.0,2.0,TrioTim,-90,False
6,12073,6752,FNDM,2012-04-19,2,2,402.0,33.500,1.0,1.0,2.0,TrioTim,-80,False
7,12202,3764,DAY,2010-09-03,1,3,371.0,30.917,2.0,2.0,2.0,TrioTim,-62,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,139272,8456,PNC,2013-08-30,1,6,227.0,18.917,2.0,2.0,2.0,TrioTim,-52,False
2445,139272,8795,NODRA,2014-03-14,3,6,234.0,19.500,2.0,2.0,2.0,TrioTim,-30,False
2447,139272,10040,PNC,2016-01-20,5,6,256.0,21.333,2.0,2.0,2.0,TrioTim,-44,False
2451,139553,8410,PNC,2013-08-23,1,2,107.0,8.917,2.0,2.0,2.0,TrioTim,-114,False
2452,139553,9822,PNC,2015-09-12,2,2,132.0,11.000,2.0,2.0,2.0,TrioTim,-86,False

In [448]:
# Redo timepoint counts after excluding sessions
df = filterBySessionCount(df,2)
df

,subid,sesid,acq,doscan,timepoint,ntimepoints,scanage_months,scanage_years,sex,race,ethnic,scanner,euler,exclude
2,11801,5145,DAY,2011-06-06,1,2,370.0,30.833,1.0,1.0,2.0,TrioTim,-58,False
4,11801,8591,NEFF,2013-10-23,2,2,399.0,33.250,1.0,1.0,2.0,TrioTim,-56,False
5,12073,5906,FNDM,2011-10-21,1,2,396.0,33.000,1.0,1.0,2.0,TrioTim,-90,False
6,12073,6752,FNDM,2012-04-19,2,2,402.0,33.500,1.0,1.0,2.0,TrioTim,-80,False
7,12202,3764,DAY,2010-09-03,1,3,371.0,30.917,2.0,2.0,2.0,TrioTim,-62,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,139272,8456,PNC,2013-08-30,1,3,227.0,18.917,2.0,2.0,2.0,TrioTim,-52,False
2445,139272,8795,NODRA,2014-03-14,2,3,234.0,19.500,2.0,2.0,2.0,TrioTim,-30,False
2447,139272,10040,PNC,2016-01-20,3,3,256.0,21.333,2.0,2.0,2.0,TrioTim,-44,False
2451,139553,8410,PNC,2013-08-23,1,2,107.0,8.917,2.0,2.0,2.0,TrioTim,-114,False
2452,139553,9822,PNC,2015-09-12,2,2,132.0,11.000,2.0,2.0,2.0,TrioTim,-86,False

In [449]:
# Export new set as csv
df.to_csv("csv/demographics+exclusion_datafreeze-2021_euler-212_minspan-180.csv", index=False)